
h1{
    color: white;
    text-align: center;
    padding: 25px; 
    border-radius: 15px;
    background-color: darkgoldenrod;
}
h2{
    padding: 25px; 
}
h4{
    padding: 10px;
}
footer{
    text-align: center;
}